header {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tabs {
  min-width: 500px;
}

.tab {
  font-size: 20px;
  display: inline-block;
  padding: 6px 30px;
  margin-left: 15px;
  margin-right: 25px;
  border: solid lightgrey 1px;
}

.tab:hover:not(.true){
  background: grey;
}

.tab:hover{
  cursor: pointer;
}

.true {
  background: lightblue;
}

.divide {
  border: solid lightgrey 1px;
  margin-left: 10px;
  width: 800px;
}

.json-display {
  width: 600px;
  height: 200px;
  margin-top: 20px;
  margin-left: 15px;
  resize: none;
  border-color: lightgrey;
  border-width: 2px;
  font-size: 16px;
  padding: 10px;
}

.input-button {
  display: inline-block;
  border: solid lightgrey 2px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  padding: 6px 30px;
  background: #F6F7F9;
}

.input-button:hover{
  background: #dddfe2;
  cursor: pointer;
}

.sub-box, .input-box{
  width: 400px;
  height: 120px;
  border: solid lightgrey 2px;
  margin-top: 20px;
}

.sub-box{
  height: 152px;
}

.parent{
  position: relative;
  margin-left: 20px;
}

.child{
  position: relative;
  left: 20px;
}

.question-title, .type-title, .condition-title{
  font-size: 18px;
  margin-top: 8px;
  margin-left: 12px;
  display: inline-block;
}

.question, .type{
  font-size: 14px;
  width: 300px;
  margin-left: 8px;
}

.type{
  margin-left: 36px;
}

.condition-type{
  width: 160px;
  margin-left: 8px;
  font-size: 14px;
}

.condition{
  margin-left: 8px;
  width: 124px;
  font-size: 14px;
}

.sub-button, .delete-button{
  display: inline-block;
  margin-top: 20px;
  border: solid grey 1px;
  background: #F6F7F9;
  padding: 5px;
}

.sub-button{
  margin-left: 85px;
}

.delete-button{
  margin-left: 138px;
}

.sub-button:hover, .delete-button:hover{
  cursor: pointer;
  background: #dddfe2;
}

.question-display{
  font-size: 18px;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}

.answer{
  width: 150px;
  font-size: 14px;
  margin-top: 10px;
}
